@mixin clearfix 
{
    &::after
    {
        content: "";
        display: table;
        clear: both;
    }    
}
@mixin absCenter 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}
@mixin absRight
{
    position: absolute;
    top: 47%;
    left: 60%;
    transform: translate(80%,-80%);    
}