@keyframes animationtest {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
  80% {
    transform: translate(0, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
  padding: 20px;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 6rem;
  animation: animationtest;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-delay: 1s;
}

.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 10px;
}

.heading-primary--sub {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 5px;
}

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  display: inline-block;
  letter-spacing: 1rem;
  cursor: pointer;
  background-image: linear-gradient(to right, #d8c3a5, #5d5c61);
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.2s;
}

.heading-secondary:hover {
  transform: skewY(5deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-summary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.button:link, .button:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  font-size: 1.6rem;
  position: relative;
}

.button--white {
  color: #777777;
  background-color: white;
}

.button--white::after {
  background-color: white;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.button:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  z-index: -1;
  transition: all .4s;
}

.button--animated {
  animation: moveInBottom 0.5s ease-out 0.75;
  animation-fill-mode: backwards;
}

.button--dark {
  background-color: #5d5c61;
  color: white;
}

.button--dark::after {
  background-color: #5d5c61;
}

.button-text {
  transition: all .2s;
}

.button-text:link, .button-text:visited {
  color: #5d5c61;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #5d5c61;
  padding: .3rem;
  font-size: 1.6rem;
}

.button-text:hover {
  background-color: #5d5c61;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translate(-0.2rem);
}

.button-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.header {
  background-image: linear-gradient(to right bottom, rgba(93, 92, 97, 0.5), rgba(216, 195, 165, 0.8)), url("/img/background1.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  height: 95vh;
  clip-path: polygon(0 0, 100% 4%, 100% 90%, 0% 100%);
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__logo {
  height: 7rem;
}

.header__logo-box {
  position: absolute;
  top: 30px;
  left: 30px;
}

@keyframes animationtest {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
  80% {
    transform: translate(0, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-bottom: 6rem;
}

.row .col-1-of-2 {
  width: calc((100%-6rem)/2);
}

.row .col-1-of-3 {
  width: calc((100%-2*6rem)/3);
}

.row .col-2-of-3 {
  width: calc(2*(100%-2*6rem)/3)+6rem;
}

.row .col-1-of-4 {
  width: calc((100%-3*6rem)/4);
}

.row .col-2-of-4 {
  width: calc(1*(100%-3*6rem)/2)+6rem;
}

.row .col-3-of-4 {
  width: calc(3*(100%-3*6rem)/4)2*6rem;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25rem;
}

.section-socials {
  background-image: linear-gradient(to left top, rgba(216, 195, 165, 0.4), rgba(93, 92, 97, 0.8)), url("/img/background2.jpg");
  background-size: cover;
  position: relative;
  padding: 20rem 0;
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
  margin-top: -20rem;
}

.section-skills {
  background-color: #f7f7f7;
  padding: 25rem 0 10rem 0;
  margin-top: -20rem;
}

.section-favorite {
  background-image: linear-gradient(to left top, rgba(255, 255, 255, 0.5), rgba(115, 149, 174, 0.3)), url("/img/background4.jpg");
  background-size: cover;
  position: relative;
  padding: 5rem 0;
}

.section-contact {
  padding: 10rem 0;
  background-image: linear-gradient(to left top, #d8c3a5, #5d5c61);
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
  margin-top: 3rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.composition {
  position: relative;
}

.composition__photo {
  width: 60%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  outline-offset: 1rem;
  transition: all .2s;
}

.composition__photo--p1 {
  left: 4rem;
  top: -2rem;
}

.composition__photo--p2 {
  left: 30rem;
  right: 2rem;
}

.composition__photo--p3 {
  left: 30%;
  top: 10rem;
}

.composition__photo:hover .composition__photo__photo:not(:hover) {
  transform: scale(0.9);
}

.composition__photo:hover {
  transform: scale(1.1);
  outline: 1.5rem solid #d8c3a5;
  box-shadow: 0 2.5rem 4rem rgba(216, 195, 165, 0.5);
  z-index: 20;
}

.skill-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem 2.5rem 5rem 2.5rem;
  text-align: center;
  border-radius: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  margin-top: 10rem;
  width: 90%;
  transition: all .2s;
}

.skill-box__icon {
  font-size: 6rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #d8c3a5, #5d5c61);
  -webkit-background-clip: text;
  color: transparent;
}

.skill-box:hover {
  cursor: pointer;
  transform: translateY(-1.5rem) scale(1.1);
}

.card {
  perspective: 150rem;
  position: relative;
  height: 40rem;
  width: 90%;
  margin-bottom: -5rem;
  margin-top: -5rem;
}

.card__side {
  color: white;
  font-size: 2rem;
  height: 45rem;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 5rem;
  overflow: hidden;
}

.card__side--front {
  background-color: white;
}

.card__side--back {
  background-color: green;
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: linear-gradient(to right, #7395ae, #787878);
}

.card__side--back-2 {
  background-image: linear-gradient(to right, #d8c3a5, #5d5c61);
}

.card__side--back-3 {
  background-image: linear-gradient(to right, #e7717d, #787878);
}

.card__picture {
  background-size: cover;
  background-blend-mode: screen;
  height: 23rem;
  clip-path: ellipse(80% 70% at 50% 30%);
}

.card__picture--1 {
  background-image: linear-gradient(to right, #7395ae, #557a95), url("/img/box1.jpg");
}

.card__picture--2 {
  background-image: linear-gradient(to right, #d8c3a5, #5d5c61), url("/img/box2.jpg");
}

.card__picture--3 {
  background-image: linear-gradient(to right, #e7717d, #787878), url("/img/box3.jpg");
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}

.card__heading-span {
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(115, 149, 174, 0.85), rgba(85, 122, 149, 0.85));
}

.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(216, 195, 165, 0.85), rgba(93, 92, 97, 0.85));
}

.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(231, 113, 125, 0.85), rgba(120, 120, 120, 0.85));
}

.card__details {
  padding: 3rem;
  color: #787878;
}

.card__details ul {
  list-style: none;
  width: 75%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}

.card__price-box {
  text-align: center;
  color: white;
  margin-bottom: 8rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 5rem;
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.favorite {
  width: 80%;
  padding: 6rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
  border-radius: 100rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 9rem;
  color: black;
}

.favorite__shape {
  width: 15rem;
  height: 15rem;
  background-color: orangered;
  float: left;
  position: relative;
  clip-path: circle(50% at 50%);
  transform: translateX(-3rem);
  margin-top: -1rem;
  shape-outside: circle(50% at 50% 50%);
}

.favorite__img {
  width: 100%;
  height: 100%;
  transition: all .3s;
}

.favorite__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all .5s;
}

.favorite:hover .favorite__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.favorite:hover .favorite__img {
  filter: blur(0.5rem) brightness(70%);
  transform: scale(1.1);
}

.contact {
  background-image: radial-gradient(150% 200% ellipse at -15%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("/img/background5.jpg");
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.2);
  border-radius: 5rem;
  height: 50rem;
}

.contact__form {
  padding: 6rem;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 60%;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  color: inherit;
  border: none;
  border-radius: 1rem;
  border-bottom: 3px solid transparent;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rbga(black, 0.15);
  border-bottom: 3px solid #d8c3a5;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #b1a296;
}

.form__input::-webkit-input-placeholder {
  color: #b1a296;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  transition: all .3s;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
}

.form__radio-group {
  width: 45%;
  display: inline-block;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 2rem;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 0.5rem solid #5d5c61;
  border-radius: 10rem;
  display: inline-block;
  position: absolute;
  left: -2rem;
  top: -.5rem;
}

.form__radio-button::after {
  opacity: 0;
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  border: 0.5rem solid #5d5c61;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #5d5c61;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.form__radio-input {
  display: none;
}

.footer {
  background-color: #5d5c61;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #d8c3a5;
}

.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}

.footer__logo {
  width: 10rem;
  height: auto;
}

.footer__copyright {
  border-top: 1px solid #d8c3a5;
  padding-top: 2rem;
  width: 70%;
  float: right;
}

.footer__navigation {
  border-top: 1px solid #d8c3a5;
  padding-top: 2rem;
  display: inline-block;
}

.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 3rem;
}

.footer__link:link, .footer__link:visited {
  color: #d8c3a5;
  background-color: #5d5c61;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 5rem;
  transition: all .2s;
}

.footer__link:hover, .footer__link:active {
  color: #d8c3a5;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.1);
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

.popup__img {
  width: 100%;
  height: 60vh;
  display: block;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: white;
  border-radius: 3rem;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
}

.popup__left {
  width: 33.33%;
  display: table-cell;
}

.popup__right {
  width: 66.67%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup__text {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #d8c3a5;
  hyphens: auto;
}

.popup__close:link, .popup__close:visited {
  color: #d8c3a5;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
}

.popup__close:hover {
  color: #5d5c61;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: all .4s .2s;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
}

.navigation__background {
  background-image: radial-gradient(#b1a296, #5d5c61);
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  border-radius: 50%;
  z-index: 1000;
  transition: transform .8s;
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  transition: all .8s;
  opacity: 0;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: radial-gradient(150% 200% ellipse at 115%, white 0%, white 50%, transparent 50%);
  background-size: 252%;
  transition: all .4s;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #5d5c61;
  transform: translateX(1rem);
}

.navigation__icon {
  position: relative;
  margin-top: 10.2rem;
  height: 30rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3.5rem;
  height: .3rem;
  background-color: #5d5c61;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.navigation__icon::before {
  top: -8rem;
}

.navigation__icon::after {
  top: 8rem;
}
/*# sourceMappingURL=main.css.map */