body
{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: rgb(119, 119, 119);
    padding: 20px;
}
.heading-primary
{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 60px;
    animation: animationtest;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-delay: 1s;
    &--main
    {
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 10px;
    }
    &--sub
    {
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 5px;
    }
}