* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 87.5%;
  }
}

@media (min-width: 1281px) {
  html {
    font-size: 100%;
  }
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #787878;
  font-weight: 500;
  line-height: 1.5;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.heading-primary--main {
  display: block;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.heading-primary--sub {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.heading-secondary {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 900;
  display: inline-block;
  letter-spacing: 0.2rem;
  cursor: pointer;
  background-image: linear-gradient(to right, #5d5c61, black);
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.2s;
}

.heading-secondary:hover {
  transform: skewY(5deg) scale(1.3);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-summary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.3rem;
  text-align: justify;
}

.paragraph:not(:last-child) {
  margin: 2rem;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  background-image: url("/assets/img/background1.jpg");
  background-size: cover;
  background-position: top;
}

.header__text-box {
  margin: auto;
  text-align: center;
}

.header__logo {
  display: none;
  width: 2rem;
  height: 2rem;
}

.align-title-big {
  text-align: center !important;
  margin: 4rem 0rem !important;
}

.align-title-small {
  text-align: center !important;
  margin: 1rem 0rem !important;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  font-size: 1rem;
  overflow: hidden;
  padding: 0 5rem;
  color: #d8c3a5;
  background-color: black;
}

.footer__logo-box {
  flex-basis: 45%;
  margin: auto;
}

.footer__logo {
  width: 6rem;
  height: 6rem;
}

.footer__navigation {
  padding-top: 2rem;
  flex-basis: 45%;
  margin: auto;
  text-align: right;
}

.footer__list {
  list-style: none;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 481px) and (max-width: 767px) {
  .footer__list {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer__list {
    display: none;
  }
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 3rem;
}

.footer__copyright {
  padding-top: 2rem;
}

.footer__link:link, .footer__link:visited {
  color: #d8c3a5;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
}

.footer__link:hover {
  opacity: 0.8;
}

.section-about {
  padding: 3rem 1rem 5rem 1rem;
}

.section-social {
  background-image: url("/assets/img/background2.jpg");
  background-size: cover;
  padding: 2rem 1rem 9.5rem 1rem;
}

.section-feature {
  padding: 2rem 1rem;
}

.section-content {
  background-color: #f7f7f7;
  padding: 3rem 2rem 1rem 2rem;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 320px) and (max-width: 480px) {
  .section-content {
    font-size: 62.5%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .section-content {
    font-size: 62.5%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section-content {
    font-size: 75%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .section-content {
    font-size: 87.5%;
  }
}

@media (min-width: 1281px) {
  .section-content {
    font-size: 100%;
  }
}

.section-form {
  padding: 1rem 1rem 0rem 1rem;
}

@keyframes growth {
  from {
    opacity: 0;
    height: calc(var(--percent) - 50%);
  }
  to {
    opacity: 1;
    height: var(--percent);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  padding: 0.6rem 2.5rem;
  border-radius: 50px;
  cursor: pointer;
  min-width: 100px;
  transition: all .2s ease;
  user-select: none;
  text-align: center;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
}

.btn--size-l {
  padding: 1rem 3.5rem;
}

.btn--size-s {
  padding: 0.3rem 1.7rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn + .btn {
  margin-left: 1.6rem;
}

.btn--success {
  background-color: #557a95;
}

.btn--warn {
  background-color: #ffb702;
}

.btn--deny {
  background-color: rgba(255, 98, 61, 0.6);
}

.btn--infor {
  background-color: white;
}

.btn--disabled, .btn[disabled] {
  opacity: 0.5 !important;
  pointer-events: none;
}

.content-ctn {
  display: flex;
  justify-content: space-around;
}

.content-right {
  position: relative;
  flex-basis: 35%;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 481px) and (max-width: 767px) {
  .content-right {
    flex-basis: 0%;
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .content-right {
    flex-basis: 0%;
    display: none;
  }
}

.content-right__photo {
  width: 60%;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  outline-offset: 0.5rem;
  transition: all .3s;
}

.content-right__photo--p1 {
  left: 0%;
  top: 0%;
}

.content-right__photo--p2 {
  left: 40%;
  top: 15%;
}

.content-right__photo--p3 {
  right: 35%;
  top: 35%;
}

.content-right__photo:hover {
  transform: scale(1.3);
  z-index: 20;
}

.content-left {
  flex-basis: 55%;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 481px) and (max-width: 767px) {
  .content-left {
    flex-basis: 90%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .content-left {
    flex-basis: 90%;
  }
}

.social-ctn {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 2rem;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 481px) and (max-width: 767px) {
  .social-ctn {
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .social-ctn {
    flex-direction: column;
  }
}

.social-box {
  font-size: 1rem;
  flex-basis: 22%;
  padding: 1.7rem;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  text-align: justify;
  border-radius: 5rem;
  transition: all .2s;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 481px) and (max-width: 767px) {
  .social-box {
    padding: 1rem 1rem 2rem 1rem;
    margin-top: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .social-box {
    padding: 1rem 1rem 2rem 1rem;
    margin-top: 1rem;
  }
}

.social-box__icon {
  font-size: 4rem;
  display: inline-block;
  background-color: black;
  -webkit-background-clip: text;
  color: transparent;
}

.social-box:hover {
  cursor: pointer;
  transform: translateY(-1rem) scale(1.1);
}

.social-box--heading {
  text-align: center;
  margin-bottom: 1rem;
}

.feature-ctn {
  display: flex;
  justify-content: space-evenly;
}

.feature {
  position: relative;
  flex-basis: 22%;
  height: 30rem;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 481px) and (max-width: 767px) {
  .feature {
    height: 28rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .feature {
    height: 27rem;
  }
}

.feature__side {
  position: absolute;
  height: 27rem;
  width: 100%;
  border-radius: 5rem;
  transition: all .8s ease;
  overflow: hidden;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  color: white;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 481px) and (max-width: 767px) {
  .feature__side {
    height: 24rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .feature__side {
    height: 23rem;
  }
}

.feature__side--front {
  background-color: white;
}

.feature__side--back {
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  transform: rotateY(180deg);
}

@media (min-width: 320px) and (max-width: 480px) {
  .feature__side--back {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .feature__side--back {
    display: none;
  }
}

.feature__side--back-1 {
  background-image: linear-gradient(to right, #7395ae, #787878);
}

.feature__side--back-2 {
  background-image: linear-gradient(to right, #d8c3a5, #5d5c61);
}

.feature__side--back-3 {
  background-image: linear-gradient(to right, #7395ae, #787878);
}

.feature__picture {
  background-size: cover;
  background-blend-mode: screen;
  height: 14rem;
  clip-path: ellipse(80% 70% at 50% 30%);
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 481px) and (max-width: 767px) {
  .feature__picture {
    height: 12rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .feature__picture {
    height: 11rem;
  }
}

.feature__picture--1 {
  background-image: linear-gradient(to right, #7395ae, #557a95), url("/assets/img/box1.jpg");
}

.feature__picture--2 {
  background-image: linear-gradient(to right, #d8c3a5, #5d5c61), url("/assets/img/box2.jpg");
}

.feature__picture--3 {
  background-image: linear-gradient(to right, #7395ae, #787878), url("/assets/img/box3.jpg");
}

.feature__heading {
  font-size: 1.5rem;
  font-weight: 350;
  text-align: right;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 7rem;
  right: 2rem;
  width: 75%;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 481px) and (max-width: 767px) {
  .feature__heading {
    font-size: 1rem;
    text-align: right;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .feature__heading {
    font-size: 0.9rem;
    text-align: right;
  }
}

.feature__heading-span {
  border-radius: 5rem;
  padding: 0.3rem 1.3rem;
  -webkit-box-decoration-break: clone;
}

.feature__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(115, 149, 174, 0.85), rgba(85, 122, 149, 0.85));
}

.feature__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(216, 195, 165, 0.85), rgba(93, 92, 97, 0.85));
}

.feature__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.85), rgba(120, 120, 120, 0.85));
}

.feature__details {
  padding: 1rem;
  color: #787878;
}

.feature__details ul {
  list-style: none;
  width: 70%;
  margin: 0 auto;
}

.feature__details ul li {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

.feature__details ul li:not(:last-child) {
  border-bottom: 0.5px solid #787878;
}

@media (min-width: 481px) and (max-width: 767px) {
  .feature__details ul li {
    font-size: 0.9rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .feature__details ul li {
    font-size: 0.8rem;
  }
}

.feature__cta {
  margin-top: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}

.feature__price-box {
  text-align: center;
  color: white;
  margin-bottom: 8rem;
}

.feature__price-only {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.feature__price-value {
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 5rem;
}

.feature:hover .feature__side--front {
  transform: rotateY(-180deg);
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 481px) and (max-width: 767px) {
  .feature:hover .feature__side--front {
    transform: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .feature:hover .feature__side--front {
    transform: none;
  }
}

.feature:hover .feature__side--back {
  transform: rotateY(0);
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 20px;
  width: 100%;
  z-index: 900;
  justify-content: space-between;
  background-color: black;
}

.nav-list {
  margin: 0 1.5rem;
}

.nav-list li {
  position: relative;
}

.nav-list > li {
  display: inline-block;
}

.nav-list > li > a {
  color: #f7f7f7;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  line-height: 38px;
  padding: 0 0.5rem;
  display: block;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 481px) and (max-width: 767px) {
  .nav-list li a {
    padding: 0 0.5rem;
    line-height: 26px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .nav-list li a {
    padding: 0 0.2rem;
    line-height: 26px;
  }
}

.nav-list li:hover a {
  color: black;
  background-color: white;
}

.nav-list .subnav {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
}

.nav-list li:hover .subnav {
  display: block;
}

.nav-list > li:hover > a,
.nav-list .subnav li:hover a {
  color: black;
  background-color: #f7f7f7;
}

#toast {
  position: fixed;
  top: 38px;
  right: 0;
  z-index: 999999;
}

.toast {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 2px;
  padding: 1rem 0;
  min-width: 17rem;
  max-width: 32rem;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(93, 92, 97, 0.3);
  transition: all linear 0.3s;
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffb702;
}

.toast--warning .toast__icon {
  color: #ffb702;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 1rem;
}

.toast__icon {
  font-size: 1.5rem;
}

.toast__icon, .toast__close {
  padding: 0 1rem;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
}

.toast__msg {
  font-size: 1rem;
  color: #787878;
  margin-top: 3px;
  line-height: 1.5;
}

.toast__close {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.form-ctn {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 5rem;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 320px) and (max-width: 480px) {
  .form-ctn {
    flex-direction: column;
  }
}

.form-left {
  flex-basis: 30%;
  margin: 0;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 320px) and (max-width: 480px) {
  .form-left {
    padding: 1rem 2rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .form-left {
    flex-basis: 40%;
  }
}

.form-right {
  flex-basis: 30%;
  margin: 0;
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
  /* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/
  /* 
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px
*/
  /* 
  Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
  /* 
  Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px
*/
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
}

@media (min-width: 320px) and (max-width: 480px) {
  .form-right {
    padding: 1rem 2rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .form-right {
    flex-basis: 40%;
  }
}

.form {
  padding: 2rem;
  text-align: center;
  background: white;
  border-radius: 2px;
  align-self: center;
  box-shadow: 0 2px 10px 0 rgba(51, 62, 73, 0.1);
}

.form .heading {
  font-size: 1.5rem;
}

.form .desc {
  text-align: center;
  color: #787878;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin-top: 1.6rem;
  font-weight: 300;
}

.form-group {
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

.form-control {
  height: 30px;
  padding: 0.5rem;
  border: 1px solid #5d5c61;
  border-radius: 3px;
  outline: none;
  font-size: 1rem;
}

.form-control:hover {
  border-color: #5d5c61;
}

.form-group.invalid .form-control {
  border-color: #ff623d;
}

.form-group.invalid .form-message {
  color: #ff623d;
}

.form-message {
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 0.4rem 0 0;
}

.form-submit {
  outline: none;
  background-color: #5d5c61;
  margin-top: 1rem;
  padding: 1rem 1.3rem;
  font-weight: 600;
  color: #f7f7f7;
  border: none;
  width: 100%;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #5d5c61;
}

.spacer {
  margin-top: 2rem;
}
/*# sourceMappingURL=style.css.map */