.button
{
    &:link,
    &:visited
    {
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        font-size: 1.6rem;
        position: relative;
    }
    &--white
    {
        color: rgb(119, 119, 119);
        background-color: rgb(255, 255, 255);
        &::after
        {
            background-color: rgb(255, 255, 255);
        }
    }
    &:hover
    {
        transform: translateY(-3px);
        box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
        &::after
        {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active
    {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }
    &::after
    {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100px;
        z-index: -1;
        transition: all .4s;
    }
    &--animated
    {
        animation: moveInBottom 0.5s ease-out 0.75;
        animation-fill-mode: backwards;
    }
    &--blue
    {
        background-color: $color-primary-dark;
        color: $color-white;
        &::after
        {
            background-color: $color-primary-dark;
        }
    }
}
.button-text
{
    &:link,
    &:visited
    {
        color: $color-primary-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary-dark;
        padding: .3rem;
        font-size: $default-font-size;
    }
    &:hover
    {
        background-color: $color-primary-dark;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translate(-0.2rem);
    }
    &:active 
    {
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0);
    }
    transition: all .2s;
}