.button
{
    &:link,
    &:visited
    {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 2rem;
        display: inline-block;
        border-radius: 100px;
        font-size: 1.6rem;
        position: relative;
        transition: all .2s;
    }
    &--white
    {
        color: $color-text;
        background-color: $color-white;
    }
    &:hover
    {
        opacity: 0.8;
        box-shadow: 0 5px 20px rgba($color-black, 0.2);
    }
    &:active
    {
        transform: translateY(1px);
        box-shadow: 0 5px 10px rgba($color-black, 0.2);
    }
    &::after
    {
        display: inline-block;
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
        border-radius: 100px;
        z-index: -1;
        transition: all .2s;
    }
    &--dark
    {
        background-color: $color-gray-mint;
        color: $color-white;
    }
}
.button-text
{
    &:link,
    &:visited
    {
        color: $color-primary-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary-dark;
        padding: .3rem;
        font-size: $default-font-size;
        @include respond (phone)
        {
            font-size: 1rem;
            padding: 0.5rem 1rem;
        } 
    }
    &:hover
    {
        background-color: $color-primary-dark;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    }
    &:active 
    {
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0.5rem);
    }
    transition: all .2s;
}