.chart-ctn
{
    
}
.chart-layout 
{
    display: flex;
    justify-content: space-evenly;
    margin: 3.6rem auto 3.6rem auto;
    padding: 3.2rem 0;
    height: 32rem;
    background-color: $color-white;
}
.chart-layout__item 
{
    align-self: flex-end;
    width: 8rem;
    color: $color-white;
    text-align: center;
    height: var(--percent);
    background-color: $color-primary-dark;
    animation: growth ease-in 0.5s;
}


