.end-ctn 
{
    display: flex;
    flex-direction: row;
    padding: 0 15rem;
    @include respond (phone)
    {
        flex-direction: column;
        padding: 0;
    }
    @include respond (miniphone)
    {
        flex-direction: column;
        padding: 0;
    }
}
.the-end__first 
{
    padding: 0.4rem 1.6rem;
    background-color: $color-gray-mint;
    flex: 1;
    text-align: justify;
}
.the-end__second
 {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $color-primary-light;
    text-align: justify;
}
.the-end__second-one 
{
    flex: 1;
    padding: 4px 16px;
    background-color: $color-white;
}
.the-end__second-two 
{
    flex: 1;
    padding: 4px 16px;
    background-color: rgb(192, 210, 227);
}