.feature-ctn
{
    display: flex;
    justify-content: space-evenly;
}
.feature
{
    position: relative;
    flex-basis: 23%;
    height: 32rem;
    @include respond (mobile)
    {
        height: 28rem;
    }
    @include respond (mini-mobile)
    {
        height: 27rem;
    }
    &__side
    {
        position: absolute;
        height: 27rem;
        width: 100%;
        border-radius: 5rem;
        transition: all .8s ease;
        overflow: hidden;  
        backface-visibility: hidden; 
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        color: $color-white;
        @include respond (mobile)
        {
            height: 24rem;
        }
        @include respond (mini-mobile)
        {
            height: 23rem;
        }
        &--front
        {
            background-color: $color-white;
        }
        &--back
        {
            @include respond (mini-mobile)
            {
                display: none;
            }
            @include respond (mobile)
            {
                display: none;
            }
            transform: rotateY(180deg);
            &-1
            {
                background-image: linear-gradient(to right,$color-blue-mint,$color-text);
            }
            &-2
            {
                background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
            }
            &-3
            {
                background-image: linear-gradient(to right,$color-blue-mint,$color-text);
            }
        }
    }
    &__picture
    {
        background-size: cover;
        background-blend-mode: screen;
        height: 14rem;
        clip-path: ellipse(80% 70% at 50% 30%);
        @include respond (mobile)
        {
            height: 12rem;
        }
        @include respond (mini-mobile)
        {
            height: 11rem;
        }
        &--1
        {
            background-image: linear-gradient(to right,$color-blue-mint,$color-blue-dark),
            url('/img/box1.jpg');
        }
        &--2
        {
            background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark),
            url('/img/box2.jpg');
        }
        &--3
        {
            background-image: linear-gradient(to right,$color-blue-mint,$color-text),
            url('/img/box3.jpg');
        }
    }
    &__heading
    {
        font-size: 1.5rem;
        font-weight: 350;
        text-align: right;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 7rem;
        right: 2rem;
        width: 75%;
        @include respond (mobile)
        {
            font-size: 1rem;
            text-align: right;
        }
        @include respond (mini-mobile)
        {
            font-size: 0.9rem;
            text-align: right;
        }
    }
    &__heading-span
    {
        border-radius: 5rem;
        padding: 0.3rem 1.3rem;
        -webkit-box-decoration-break:clone;
        &--1
        {
            background-image: linear-gradient(to right bottom,
            rgba($color-blue-mint,.85),
            rgba($color-blue-dark,.85))

        }
        &--2
        {
            background-image: linear-gradient(to right bottom,
            rgba($color-primary-light,.85),
            rgba($color-primary-dark,.85))
        }
        &--3
        {
            background-image: linear-gradient(to right bottom,
            rgba($color-black,.85),
            rgba($color-text,.85))
        }
    }
    &__details
    {
        padding: 1rem;
        color: $color-text;
        ul
        {
            list-style: none;
            width: 70%;
            margin: 0 auto;
            li 
            {
                text-align: center;
                font-size: 1rem;
                padding: 1rem;
                &:not(:last-child)
                {
                    border-bottom: 0.5px solid $color-text;
                }
                @include respond (mobile)
                {
                    font-size: 0.9rem;
                }
                @include respond (mini-mobile)
                {
                    font-size: 0.8rem;
                }
            }
        }
    }
    &__cta
    {
        margin-top: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 90%;
    }
    &__price-box
    {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }
    &__price-only
    {
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    &__price-value
    {
        font-size: 3rem;
        font-weight: 100;
        margin-bottom: 5rem;
    }
    &:hover 
    &__side--front
    {
        transform: rotateY(-180deg);
        @include respond (mobile)
        {
            transform: none;
        }
        @include respond (mini-mobile)
        {
            transform: none;
        }
    }
    &:hover 
    &__side--back
    {
        transform: rotateY(0);
    }
}