.form-left
{
    flex-basis: 40%;
    @include respond (mobile)
    {
        flex-basis: 50%;
        margin: auto;
        padding: 2rem 1rem;
    }
    @include respond (mini-mobile)
    {
        flex-basis: 50%;
        margin: auto;
        padding: 2rem 1rem;
    }
}
.form-right
{
    flex-basis: 40%;
    @include respond (mobile)
    {
        flex-basis: 50%;
        margin: auto; 
        padding: 2rem 1rem;
    }
    @include respond (mini-mobile)
    {
        flex-basis: 50%;
        margin: auto; 
        padding: 2rem 1rem;
    }
}
.form 
{
    width: 28rem;
    min-height: 8rem;
    padding: 3.2rem 2.4rem;
    text-align: center;
    background: $color-white;
    border-radius: 2px;
    margin: 2.4rem;
    align-self: center;
    box-shadow: 0 2px 10px 0 rgba(51,62,73,.1);
    @include respond (mobile)
    {
        padding: 0;
        margin: 0;
    }
    @include respond (mini-mobile)
    {
        padding: 0;
        margin: 0;
    }
}
.form .heading 
{
    font-size: $default-font-size;
}

.form .desc 
{
    text-align: center;
    color: $color-text;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 1.6rem;
    font-weight: 300;
}

.form-group 
{
    display: flex;
    margin-bottom: 1.6rem;
    flex-direction: column;
}

.form-label,
.form-message 
{
    text-align: left;
}

.form-label 
{
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.2rem;
}

.form-control 
{
    height: 35px;
    padding: 0.8rem 1.2rem;
    border: 1px solid $color-primary-dark;
    border-radius: 3px;
    outline: none;
    font-size: 1rem;
}

.form-control:hover 
{
    border-color: $color-primary-dark;
}

.form-group.invalid .form-control 
{
    border-color: $color-deny;
}

.form-group.invalid .form-message 
{
    color: $color-deny;
}

.form-message 
{
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 0.4rem 0 0;
}

.form-submit 
{
    outline: none;
    background-color: $color-primary-dark;
    margin-top: 1.2rem;
    padding: 1rem 1.3rem;
    font-weight: 600;
    color: $color-gray-light;
    border: none;
    width: 100%;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.form-submit:hover 
{
    background-color: $color-primary-dark;
}

.spacer 
{
    margin-top: 3.6rem;
}