.nav 
{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 42px;
    width: 100%;
    z-index: 900;
    justify-content: space-between;
    background-color: $color-black;
    &-list li 
    {
        position: relative;
    }
    &-list > li 
    {
        display: inline-block;
    }
    &-list > li > a
    {
        color: $color-gray-light;
    }
    &-list li a
    {
        color: $color-white;
        text-decoration: none;
        line-height: 46px;
        padding: 0 15px;
        display: block;
        @include respond (phone)
        {
            padding: 0 5px;
        }
        @include respond (miniphone)
        {
            padding: 0 5px;
        }
    }
    &-list li:hover a 
    {
        color: $color-black;
        background-color: $color-white;
    }
    &-list .subnav 
    {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $color-white;
        list-style: none;
        box-shadow: 0 0 10px rgba($color-black, 0.3);
        display: none;
    }
    &-list li:hover .subnav
    {
        display: block;
    }
    &-list > li:hover >a,
    &-list .subnav li:hover a 
    {
        color: $color-black;
        background-color: $color-gray-light;
    }
  
}

 
