.btn {
  display: inline-block;
  padding: 0.6rem 2.5rem;
  margin-bottom: 0.5rem;
  border: none;
  box-shadow: 0 5px 3px rgba($color-black, 0.2);

  text-decoration: none;
  text-align: center;

  background-color: transparent;
  color: $color-black;

  border-radius: 50px;

  user-select: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;

  &--size-l {
    padding: 1rem 3.5rem;
  }

  &--size-s {
    padding: 0.3rem 1.7rem;
  }

  &:hover {
    opacity: 0.8;
  }

  & + & {
    margin-left: 1.6rem;
  }

  &--success {
    background-color: $color-blue-dark;
  }

  &--warn {
    background-color: $color-warn;
  }

  &--deny {
    background-color: rgba($color-deny, 0.6);
  }

  &--infor {
    background-color: $color-white;
  }

  &--disabled,
  &[disabled] {
    opacity: 0.5 !important;
    pointer-events: none;
  }
}
