.feature-ctn {
  display: flex;
  justify-content: space-evenly;
}

.feature {
  position: relative;
  flex-basis: 22%;
  height: 30rem;

  @include respond(mobile) {
    height: 28rem;
  }
  @include respond(mini-mobile) {
    height: 27rem;
  }

  &__side {
    position: absolute;

    height: 27rem;
    width: 100%;
    overflow: hidden;
    border-radius: 5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    color: $color-white;

    backface-visibility: hidden;
    transition: all 0.8s ease;

    @include respond(mobile) {
      height: 24rem;
    }
    @include respond(mini-mobile) {
      height: 23rem;
    }

    &--front {
      background-color: $color-white;
    }

    &--back {
      @include respond(mini-mobile) {
        display: none;
      }
      @include respond(mobile) {
        display: none;
      }

      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right,
          $color-blue-mint,
          $color-text
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(to right, $color-text, $color-black);
      }
    }
  }

  &__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 14rem;
    clip-path: ellipse(80% 70% at 50% 30%);

    @include respond(mobile) {
      height: 12rem;
    }
    @include respond(mini-mobile) {
      height: 11rem;
    }

    &--1 {
      background-image: linear-gradient(
          to right,
          $color-blue-mint,
          $color-blue-dark
        ),
        url("/assets/img/box1.jpg");
    }

    &--2 {
      background-image: linear-gradient(
          to right,
          $color-primary-light,
          $color-primary-dark
        ),
        url("/assets/img/box2.jpg");
    }

    &--3 {
      background-image: linear-gradient(to right, $color-blue-mint, $color-text),
        url("/assets/img/box3.jpg");
    }
  }

  &__heading {
    position: absolute;
    top: 7rem;
    right: 2rem;

    font-size: 1.5rem;
    font-weight: 350;
    text-align: right;
    text-transform: uppercase;

    color: $color-white;
    width: 75%;

    @include respond(mobile) {
      font-size: 1rem;
      text-align: right;
    }
    @include respond(mini-mobile) {
      font-size: 0.9rem;
      text-align: right;
    }
  }

  &__heading-span {
    padding: 0.3rem 1.3rem;
    border-radius: 5rem;

    -webkit-box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-blue-mint, 0.85),
        rgba($color-blue-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.85),
        rgba($color-text, 0.85)
      );
    }
  }

  &__details {
    padding: 1rem;
    color: $color-text;

    ul {
      list-style: none;
      width: 70%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 0.5px solid $color-text;
        }

        @include respond(mobile) {
          font-size: 0.9rem;
        }
        @include respond(mini-mobile) {
          font-size: 0.8rem;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: 3rem;
    width: 90%;

    text-align: center;
    transform: translate(-50%, -50%);
  }

  &__price-box {
    margin-bottom: 8rem;
    text-align: center;
    color: $color-white;
  }

  &__price-only {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__price-value {
    margin-bottom: 5rem;

    font-size: 3rem;
    font-weight: 100;
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);

    @include respond(mobile) {
      transform: none;
    }
    @include respond(mini-mobile) {
      transform: none;
    }
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
