.form-ctn {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 5rem;

  @include respond(mini-mobile) {
    flex-direction: column;
  }
}

.form-left {
  flex-basis: 30%;
  margin: 0;

  @include respond(mini-mobile) {
    padding: 1rem 2rem;
  }

  @include respond(mobile) {
    flex-basis: 40%;
  }
}

.form-right {
  flex-basis: 30%;
  margin: 0;

  @include respond(mini-mobile) {
    padding: 1rem 2rem;
  }

  @include respond(mobile) {
    flex-basis: 40%;
  }
}

.form {
  padding: 2rem;
  text-align: center;
  background: $color-white;
  border-radius: 2px;
  align-self: center;
  box-shadow: 0 2px 10px 0 rgba(51, 62, 73, 0.1);
}

.form .heading {
  font-size: 1.5rem;
}

.form .desc {
  text-align: center;
  color: $color-text;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin-top: 1.6rem;
  font-weight: 300;
}

.form-group {
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

.form-control {
  height: 30px;
  padding: 0.5rem;
  border: 1px solid $color-primary-dark;
  border-radius: 3px;
  outline: none;
  font-size: 1rem;

  &:hover {
    border-color: $color-primary-dark;
  }
}

.form-group.invalid .form-control {
  border-color: $color-deny;
}

.form-group.invalid .form-message {
  color: $color-deny;
}

.form-message {
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 0.4rem 0 0;
}

.form-submit {
  outline: none;
  background-color: $color-primary-dark;
  margin-top: 1rem;
  padding: 1rem 1.3rem;
  font-weight: 600;
  color: $color-gray-light;
  border: none;
  width: 100%;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-dark;
  }
}

.spacer {
  margin-top: 2rem;
}
