.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 20px;
    width: 100%;
    z-index: 99;
    justify-content: space-between;
    background-color: $color-black;
    &-list {
        margin: 0 1.5rem;
    }

    &-list li {
        position: relative;
    }

    &-list>li {
        display: inline-block;
    }

    &-list>li>a {
        color: $color-gray-light;
    }

    &-list li a {
        color: $color-white;
        text-decoration: none;
        line-height: 38px;
        padding: 0 0.5rem;
        display: block;

        @include respond (mobile) {
            padding: 0 0.5rem;
            line-height: 26px;
        }

        @include respond (mini-mobile) {
            padding: 0 0.2rem;
            line-height: 26px;
        }
    }

    &-list li:hover a {
        color: $color-black;
        background-color: $color-white;
    }

    &-list .subnav {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $color-white;
        list-style: none;
        box-shadow: 0 0 10px rgba($color-black, 0.3);
        display: none;
    }

    &-list li:hover .subnav {
        display: block;
    }

    &-list>li:hover>a,
    &-list .subnav li:hover a {
        color: $color-black;
        background-color: $color-gray-light;
    }
}