.navbar-ctn {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  display: flex;
  min-height: 20px;
  width: 100%;
  justify-content: space-between;

  background-color: $color-black;
}

.navbar-menu {
  margin: 0 1.5rem;

  & > li {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  & li a {
    display: block;
    line-height: 40px;
    padding: 0 0.5rem;

    text-decoration: none;
    color: $color-gray-light;
    @include respond(mobile) {
      padding: 0 0.5rem;
      line-height: 26px;
    }
    @include respond(mini-mobile) {
      padding: 0 0.2rem;
      line-height: 26px;
    }
  }

  & li:hover a {
    color: $color-black;
    background-color: $color-white;
  }

  & .subnav {
    position: absolute;
    top: 100%;
    left: 0;

    display: none;
    box-shadow: 0 0 10px rgba($color-black, 0.3);

    list-style: none;
    background-color: $color-white;
  }

  & li:hover .subnav {
    display: block;
  }

  & > li:hover > a,
  & .subnav li:hover a {
    color: $color-black;
    background-color: $color-gray-light;
  }
}
