*
{
    color: rgb(142, 158, 252);
    color: rgb(90, 115, 252);
    color: rgb(28, 62, 255);

    color: rgb(93, 92, 97);
    color: rgb(216, 195, 165);
    color: rgb(115, 149, 174);
    color: rgb(85, 122, 149);
    color: rgb(177, 162, 150);
}