* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond (mini-mobile) {
        font-size: 62.5%;
    }

    @include respond (mobile) {
        font-size: 62.5%;
    }

    @include respond (p-tablet) {
        font-size: 75%;
    }

    @include respond (laptop) {
        font-size: 87.5%;
    }

    @include respond (desktop) {
        font-size: 100%;
    }
}

body {
    box-sizing: border-box;
}