*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
    @include respond (mini-mobile)
    {
        font-size: 37.5%;
    }
    @include respond (mobile)
    {
        font-size: 43.75%;
    }
    @include respond (laptop)
    {
        font-size: 56.25%;
    }
    @include respond (p-tablet)
    {
        font-size: 50%;
    }
    @include respond (desktop)
    {
        font-size: 68.75%;
    }
}
body
{
    box-sizing: border-box;
}