.u-center-text
{
    text-align: center !important;
}
.u-margin-bottom-big
{
    margin: 8rem !important;
}
.u-margin-bottom-small
{
    margin-bottom: 1.5rem !important;
}
.button-about
{
    margin-left: 1.5rem;
}