.u-center-text
{
    text-align: center !important;
}
.u-margin-bottom-big
{
    margin: 6rem !important;
}
.u-margin-bottom-small
{
    margin-bottom: 1rem !important;
}
.btn-center
{
    margin-top: 6rem !important;
}