.section-about
{
    background-color: $color-gray-light;
    padding: 20rem 0;
    margin-top: -25rem;
}
.section-socials
{
    background-image: linear-gradient(to left top,rgba($color-primary-light,0.2),rgba($color-primary-dark,0.8)),
    url("/img/background2.jpg");
    background-size: cover;
    position: relative;
    padding: 15rem 0;
    clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
    margin-top: -20rem;
}
.section-skills
{
    background-color: $color-gray-light;
    padding: 5rem 0;
}
.section-favorite
{
    background-image: linear-gradient(to left top,rgba($color-white,0.5),rgba($color-blue-mint,0.3)),
    url("/img/background4.jpg");
    background-size: cover;
    position: relative;
    padding: 5rem 0;
    height: 70rem;
    @include respond (big-desktop)
    {
        height: 80rem;
    }
}
.section-contact
{
    padding: 10rem 0;
    background-image: linear-gradient(to left top, $color-blue-mint,$color-gray-mint);
}