.section-home
{
}
.section-about
{
    padding-bottom: 12rem;
}
.section-social
{
    background-image: url("/img/background3.jpg");
    background-size: cover;
    padding: 4rem 0rem 20rem 0rem;
}
.section-feature
{
    padding: 4rem 0rem 15rem 0rem;
}
.section-content 
{
    background-color: $color-gray-light;
    padding: 3rem 2rem;
}
.section-form
{
    display: flex;
    justify-content: space-evenly;
    @include respond (phone)
    {
        flex-direction: column;
    }
    @include respond (miniphone)
    {
        flex-direction: column;
    }
}
