.footer {
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  height: 10rem;
  padding: 0 5rem;

  font-size: 1rem;

  color: $color-white;
  background-color: $color-black;

  &__logo-box {
    flex-basis: 45%;
    margin: auto;
  }

  &__logo {
    width: 6rem;
    height: 6rem;
  }

  &__navigation {
    padding-top: 2rem;
    flex-basis: 45%;
    margin: auto;

    text-align: right;
  }

  &__list {
    list-style: none;

    @include respond(mobile) {
      display: none;
    }

    @include respond(mini-mobile) {
      display: none;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__copyright {
    padding-top: 2rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;

      text-transform: uppercase;
      text-decoration: none;

      color: $color-white;

      transition: all 0.2s;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
