.header {
  position: relative;
  height: 100vh;
  z-index: 10;

  display: flex;

  background-image: url("/assets/img/background1.jpg");
  background-size: cover;
  background-position: top;

  &__text-box {
    margin: auto;
    text-align: center;
  }

  &__logo {
    display: none;
    width: 2rem;
    height: 2rem;
  }
}
